// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

$header-bg-img: url('none.png') !default;

body > header {
    background-image: $header-bg-img;
    background-repeat: no-repeat;
    background-position: top right;
}
